
@font-face { font-family: Nightmare; src: url('Nightmare.otf'); }


body{
    background-image: url("../img/fundo.jpeg");
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
   
}
main{
   
    background-repeat: no-repeat;
    background-size: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;

}

h1{
    height: auto;
   color: #ffa600da;
    font-size: 4.5rem;
    padding: 15px;
    font-family:  Nightmare;
    position: relative;
   
   
}

i:hover{
    color: #9b6a0f;
    transform: scale(1.6);
    transition: 1s;
}
video{
    width: 100%;
    height: 85.3vh;
    display: flex;
    align-items: center;
    justify-content: center;
   
   
}

@media screen and (max-width: 764px) {
    body{
        background-image: url("../img/fundo_1.jpeg");
        background-repeat: no-repeat;
        background-size: 150%;
        height: auto;
       

    }
    main{
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .video{
        height: 300vw;
        width: 95%;
       
    }
 

    h1{
        position: relative;
        top: 100px;
        font-size: 2.0rem;
    }
}


@media screen and (min-width: 1020px) {
    body{
        background-image: url("../img/fundo.jpeg");
        background-repeat: no-repeat;
        background-size: 150%;
        height: auto;
       

    }
    main{
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .video{
        height: 300vw;
        width: 95%;
       
    }
 

    h1{
        position: relative;
      
        font-size: 2.5rem;
    }
}

